.itemCard {
    height: 300px;
    width: 300px;
    box-shadow: 0 0 10px 5px #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.subTitle {
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.times {
    font-style: italic;
}